<!-- views/addItem.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item</title>
</head>
<body>
    <h1>Add Item</h1>
    <form action="/addItem" method="post">
        <label for="title">title:</label>
        <input type="text" id="title" name="title" required>

        <label for="genre">genre:</label>
        <input type="text" id="genre" name="genre" required>

        <label for="platform">platform:</label>
        <input type="text" id="platform" name="platform" required>

        <label for="platform">platform:</label>
        <input type="text" id="genre" name="platform" required>

        <label for="releaseYear">releaseYear:</label>
        <input type="number" id="releaseYear" name="releaseYear" required>

        <label for="developer">developer:</label>
        <input type="text" id="developer" name="developer" required>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" required>

        <button type="submit">Add Item</button>
    </form>
</body>
</html>
