<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= game.title %> Detail</title>
</head>
<body>
    <%  console.log(game); %>
    <h1><%= game.title %> Detail</h1>
    <p><strong>Description:</strong> <%= game.genre %></p>
    <p><strong>Price:</strong> <%= game.rating %></p>
    <p><a href="/">Back to Item List</a></p>
</body>
</html>
